<nav class="indigo light-blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Flight Finder</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Flights</a></li>
        <li><a href="#">Hotels</a></li>
        <li><a href="#">Car Rentals</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Find Flights</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<router-outlet></router-outlet>

